{
    "rules": {
        "no-underscore-dangle": [
            "error",
            {
                "allow": [
                    "_root"
                ]
            }
        ]
    },
    "extends": "rallycoding"
}